.DS_Store
__pycache__/
*.pyc
*.egg-info/
docs/res/
docs/.photons-docs/
docs/gh-pages/
scripts/.lifx/
scripts/secrets.yml
modules/.tox/
examples/.lifx/
modules/dist/
modules/pip-wheel-metadata/
modules/build/
interactor.db
