language: python

dist: xenial

python:
  - "3.6"
  - "3.7"
  - "3.8"

env:
  global:
    - CI_SERVER=true

install:
  - pip install pip --upgrade
  - cd modules && pip install -e ".[tests]"

script:
  - ./test.sh
