---

context:
  use_gitignore: true

image_index: delfick/

images:
  lifx-photons-interactor:
    context:
      parent_dir: "{config_root}/../../../"

    commands:
      - FROM python:3.9-slim

      - ADD apps/interactor /project/interactor
      - ADD modules /project/modules
      - RUN ln -s /project/interactor/command /project/command

      - WORKDIR /project/config

      - - RUN
        - apt-get update
          && apt-get install curl gcc g++ -y
          && pip install pip -U && pip install /project/modules /project/interactor
          && apt-get purge -y gcc g++
          && apt-get autoremove -y
          && rm -rf /var/lib/apt/lists/*

      - ENV INTERACTOR_HOST 0.0.0.0
      - HEALTHCHECK CMD lifx interactor_healthcheck --silent || exit 1
      - CMD ["lifx", "lan:interactor"]

  lifx-photons-interactor-homeassistant:
    context: false

    commands:
      - [FROM, "delfick/lifx-photons-interactor:{VERSION:from_env}"]
      - WORKDIR /data
      - LABEL io.hass.version="0.8.5" io.hass.type="addon" io.hass.arch="aarch64|amd64|armhf|armv7|i386"
