pylama==8.4.1
neovim==0.3.1
tox==4.11.4
isort==5.13.2
python-lsp-server==1.10.0
python-lsp-pylama==0.1
pyls-isort==0.2.2
python-lsp-black==2.0.0
mslex==1.1.0; sys.platform == 'win32'
jedi==0.19.1
hatch==1.9.3
